<% layout('./layout') %>

<div class="ib-task-page-board">
    <div id="ibBoardBody" class="ib-board-body">
        <div class="ib-scrollable-board-body ib-board-body-scrollable-horizontal">
            <div class="ib-board-body-columns nc-scrollbar">
                <div class="profile-update-panel">
                    <div class="profile-update-form-container">
                        <div class="update-panel-nav">
                            <div class="panel-navbar">
                                <div class="navbar-item ib-nb-item active" data-id="profile">Profile</div>
                                <div class="navbar-item ib-nb-item" data-id="password">Change Password</div>
                            </div>
                        </div>
                        <div class="update-form-panel">

                            <form class="info-update-form profile-update uploadImage fade show"  action="/emp/registerEmp" enctype="multipart/form-data"  method="POST">
                                <div class="ib-form-group">
                                    <div class="ib-form-control">
                                        <label class="ib-form-label justify-content-center">Add Profile Photo</label>
                                        <div class="ib-upload-pic">
                                            <div class="ib-profile-pic-view upload-pic-event" style="background-image: url('/assets/img/add_user.png');"></div>
                                            <input type="file" name="user_img" id="uploadPicEvent" hidden />
                                        </div>
                                    </div>
                                </div>
                                <div class="ib-form-group">
                                    <div class="ib-form-control left">
                                        <label class="ib-form-label">Full Name</label>
                                    </div>
                                    <div class="ib-form-control right">
                                        <input type="text" name="fname_fr" class="ib-form-field"/>
                                        <p class="err-text text-danger" id="fname_fr_err"></p>
                                    </div>
                                </div>
                                <div class="ib-form-group">
                                    <div class="ib-form-control left">
                                        <label class="ib-form-label">Email ID</label>
                                    </div>
                                    <div class="ib-form-control right">
                                        <input type="email" name="email_fr" class="ib-form-field"/>
                                        <p class="err-text text-danger" id="email_fr_err"></p>
                                    </div>
                                </div>
                                <div class="ib-form-group">
                                    <div class="ib-form-control left">
                                        <label class="ib-form-label">Username</label>
                                    </div>
                                    <div class="ib-form-control right">
                                        <input type="text" name="username_fr" class="ib-form-field"/>
                                        <p class="err-text text-danger" id="username_fr_err"></p>
                                    </div>
                                </div>
                                <div class="ib-form-group">
                                    <div class="ib-form-control left">
                                        <label class="ib-form-label">Mobile Number</label>
                                    </div>
                                    <div class="ib-form-control right">
                                        <input type="text" name="mobile_fr" pattern="[6-9]{1}[0-9]{9}"  title="Phone number with 6-9 and remaing 9 digit with 0-9" class="ib-form-field"/>
                                        <p class="err-text text-danger" id="mobile_fr_err"></p>
                                    </div>
                                </div>
                                <div class="ib-form-group">
                                    <div class="ib-form-control left">
                                        <label class="ib-form-label">Designation</label>
                                    </div>
                                    <div class="ib-form-control right">
                                        <select class="ib-form-field" name="designation_fr"> 
                                            <option value=""> Select Employee Designation</option>
                                            <option value="0||Admin"> Admin </option>
                                            <option value="1||Developer"> Developer </option>
                                            <option value="2||UI Designer"> UI Designer </option>
                                            <option value="3||Tester"> Tester </option> 
                                        </select>
                                        <p class="err-text text-danger" id="designation_fr_err"></p>
                                    </div>
                                </div>
                                <div class="ib-form-group">
                                    <div class="ib-form-control left">
                                        <label class="ib-form-label">Password</label>
                                    </div>
                                    <div class="ib-form-control right">
                                        <input type="password" name="password_fr" class="ib-form-field"/>
                                        <p class="err-text text-danger" id="password_fr_err"></p>
                                    </div>
                                </div>
                                <div class="ib-form-group">
                                    <div class="ib-form-control left">
                                        <label class="ib-form-label">Confirm Password</label>
                                    </div>
                                    <div class="ib-form-control right">
                                        <input type="password" name="cpassword" class="ib-form-field"/>
                                        <p class="err-text text-danger" id="cpassword_err"></p>
                                    </div>
                                </div>
                                <div class="ib-form-group">
                                    <div class="ib-form-control right ml-auto">
                                        <button id="btnSaveClose" class="btn btn-primary btn-ib-reg-btn" type="submit">Save</button>
                                        <input type="reset" id="resetForm" style="display: none;" />
                                        <br />
                                        <p class="err-text text-danger" id="general_err"></p>
                                    </div>
                                </div>
                            </form>
                            <form class="info-update-form changePassword password-update fade" action="/emp/changePass" method="POST">
                                <div class="ib-form-group">
                                    <div class="ib-form-control left">
                                        <label class="ib-form-label">Old Password</label>
                                    </div>
                                    <div class="ib-form-control right">
                                        <input type="text" name="oldPassword" class="ib-form-field"/>
                                    </div>
                                </div>
                                <div class="ib-form-group">
                                    <div class="ib-form-control left">
                                        <label class="ib-form-label">New Password</label>
                                    </div>
                                    <div class="ib-form-control right">
                                        <input type="text" name="newPass" class="ib-form-field" />
                                    </div>
                                </div>
                                <div class="ib-form-group">
                                    <div class="ib-form-control left">
                                        <label class="ib-form-label">Re-enter New Password</label>
                                    </div>
                                    <div class="ib-form-control right">
                                        <input type="text" name="conNewPass" class="ib-form-field" />
                                    </div>
                                </div>
                                <div class="ib-form-group">
                                    <div class="ib-form-control right ml-auto">
                                        <button class="btn btn-primary btn-ib-reg-btn" type="submit">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
<script>

    $('.uploadImage').submit(function(e){
        e.preventDefault();
        clear();
        $(this).ajaxSubmit({
            contentType: 'application/json',
            success: function(response){
                const status = response.status;
                if(status == 1){
                    toastr.success('User Registered Successfully','Idea Bank');
                    $("#resetForm").trigger("click");
                }
                else if(status == 3){
                    const errorData = response.errors
                    $.each(errorData, function (key, e) 
                    {
                        $(`#${key}_err`).html(e)
                    })
                }
                else{
                    $("#general_err").html(response.message);
                }
            }
        });
        return false;
    });

    function clear(){
        $("#cpassword_err").html('');
        $("#designation_fr_err").html('');
        $("#email_fr_err").html('');
        $("#fname_fr_err").html('');
        $("#mobile_fr_err").html('');
        $("#name_fr_err").html('');
        $("#password_fr_err").html('');
        $("#username_fr_err").html('');
        $("#general_err").html('');
    }
    
    $('.changePassword').submit(function(e){
        e.preventDefault();
        $(this).ajaxSubmit({
            method: "POST",
            contentType: 'application/json',
            success: function(response){
                const status = response.status;
                if(status == 1){
                    toastr.success('User Registered Successfully','Idea Bank');
                    $("#resetForm").trigger("click");
                }
                else if(status == 3){
                    const errorData = response.errors
                    $.each(errorData, function (key, e) 
                    {
                        $(`#${key}_err`).html(e)
                    })
                }
                else{
                    $("#general_err").html(response.message);
                }
            }
        });
        return false;
    });
</script>